@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --dark: #363636;
    --light-dark: #eae7e7;

    --bg-whiteless: #a06017;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

*::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background-color: #b3d3ec !important;

    border-radius: 9px;

    border: 1px solid transparent;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    top: 50%;
    left: 5px;
    height: 1em;
    width: 1em;
    margin-top: -9px;
    display: block;
    position: absolute;
    color: white;
    border: 0.15em solid white;
    border-radius: 1em;
    box-shadow: 0 0 0.2em #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Courier New", Courier, monospace;
    line-height: 1em;
    content: "+";
    background-color: #0f61dd;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before,
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    content: "-";
    background-color: #0947a3;
}

ul.dtr-details {
    list-style: none;
}

.h-60vh {
    height: 60vh;
}

.h-50vh {
    height: 50vh;
}

.h-80vh {
    height: 80vh;
}

.mh-80vh {
    min-height: 80vh;
}

.mh-92vh {
    min-height: 92vh;
}

.h-100vh {
    height: 100vh;
    background-color: #f0f4f7 !important;
}

.h-10vh {
    height: 10vh;
}

.h-20vh {
    height: 20vh;
}

.h-30vh {
    height: 30vh;
}

.h-24vh {
    height: 24vh;
}

.mh-22vh {
    min-height: 22vh;
}

.form-control:focus {
    background-color: var(--light-dark);
}

.form-control {
    background-color: var(--light-dark);
    margin-bottom: 11px;
}

.form-control.glass {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.26);
}

.br-2 {
    border-radius: 20px;
}

.text-bold {
    font-weight: bold;
}

.foto-perfil {
    width: 32px;
    height: 32px;
    background-color: rgb(182, 216, 248);
    color: rgb(44, 100, 239);
}

.success-field {
    color: #294e10;
    border: 1px solid #1a3309 !important;
}

.error-field {
    color: rgb(234, 88, 88) !important;
    border: 1px solid rgb(234, 88, 88) !important;
}

span.error-message {
    color: rgb(234, 88, 88) !important;
}

.weather-icon {
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 7vh;
    object-fit: fill;
}


.bg-113 {
    background-color: #f0f4f7 !important;
}

.bg-116 {
    background-color: #f0f4f7 !important
}

.bg-119,
.bg-122,
.bg-176 {
    background-color: #f0f4f7 !important;
}


.bg-143 {
    background-color: #f0f4f7 !important;
}

.bg-179,
.bg-182,
.bg-185 {
    background-image: radial-gradient(at 57% 53%,
            hsl(222, 12%, 57%) 0,
            transparent 55%),
        radial-gradient(at 95% 35%, hsl(195, 8%, 70%) 0, transparent 55%),
        radial-gradient(at 22% 65%, hsl(0, 0%, 97%) 0, transparent 55%);
}

.bg-200,
.bg-386,
.bg-386,
.bg-389 {
    background-image: radial-gradient(at 57% 53%,
            hsl(61, 61%, 26%) 0,
            transparent 55%),
        radial-gradient(at 95% 35%, hsl(212, 58%, 36%) 0, transparent 55%),
        radial-gradient(at 22% 65%, hsl(248, 71%, 37%) 0, transparent 55%);
}

.bg-227,
.bg-230,
.bg-248,
.bg-260,
.bg-326,
.bg-323,
.bg-329,
.bg-338,
.bg-335,
.bg-350,
.bg-362,
.bg-365,
.bg-368,
.bg-371,
.bg-374,
.bg-365,
.bg-392,
.bg-395 {
    background-image: radial-gradient(at 57% 53%,
            hsl(225, 10%, 77%) 0,
            transparent 55%),
        radial-gradient(at 95% 35%, hsl(180, 2%, 82%) 0, transparent 55%),
        radial-gradient(at 22% 65%, hsl(0, 0%, 97%) 0, transparent 55%);
}

.bg-263,
.bg-266,
.bg-281,
.bg-284 {
    background-image: radial-gradient(at 57% 53%,
            hsl(222, 12%, 57%) 0,
            transparent 55%),
        radial-gradient(at 95% 35%, hsl(192, 40%, 57%) 0, transparent 55%),
        radial-gradient(at 22% 65%, hsl(214, 81%, 62%) 0, transparent 55%);
}

.bg-293,
.bg-299,
.bg-302,
.bg-296,
.bg-305,
.bg-308 {
    background-image: radial-gradient(at 57% 53%,
            hsl(222, 30%, 65%) 0,
            transparent 55%),
        radial-gradient(at 100% 35%, hsl(212, 58%, 36%) 0, transparent 55%),
        radial-gradient(at 0% 65%, hsl(248, 71%, 37%) 0, transparent 55%);
}

.bg-311,
.bg-314,
.bg-317,
.bg-320 {
    background-image: radial-gradient(at 95% 35%,
            hsl(212, 58%, 36%) 0,
            transparent 55%),
        radial-gradient(at 57% 53%, hsl(222, 30%, 65%) 0, transparent 55%),
        radial-gradient(at 95% 35%, hsl(212, 58%, 36%) 0, transparent 55%),
        radial-gradient(at 22% 65%, hsl(248, 67%, 63%) 0, transparent 55%);
}

.b-shadow-nav {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.bg-light {
    background-color: #edf4fa !important;
}

.bg-white {
    background-color: #d3e4eb !important;
    border: 1px solid rgba(39, 40, 41, 0.3);
}



.nav-link:hover {
    background-color: #e5ebf3;
    color: #000;
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.text-warning {
    -bs-text-opacity: 1;
    color: rgb(69 72 78) !important;
    padding-bottom: -4px;
    margin-bottom: 6px;
}

.mt-3 {
    margin-top: 0rem !important;
    margin-right: 19px;
    size: 1rem !important;
    flex: 1;
    min-width: 0;
}
